<div class="example-card">
    <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        ANDINA TRADING
                    </mat-card-title>
                    <p>Ingresa tus credenciales para acceder</p>
                </mat-card-header>

                <mat-card-content>
                    <div class="form">
                        <mat-form-field class="form-cred">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="correo" type="email" placeholder="Ingresa tu correo" required />
                            <mat-error *ngIf="loginForm.get('correo')?.hasError('required')">
                                Este campo es obligatorio.
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('correo')?.hasError('email')">
                                Correo electrónico inválido
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-cred">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" type="password" placeholder="Ingresa tu contraseña" required />
                            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                                La contraseña es obligatoria
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                                La contraseña debe tener al menos 6 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-flat-button color="primary" class="form-cred" type="submit" [disabled]="loginForm.invalid">
                        Iniciar Sesión
                    </button>
                    <p>
                        ¿No tienes una cuenta?
                        <a [routerLink]="['/register']">Crear Cuenta</a>
                    </p>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>